* {
    box-sizing: content-box;
}

body {
    background-image:url(https://media.istockphoto.com/id/1357988167/photo/the-gray-and-silver-are-light-black-with-white-the-gradient-is-the-surface-with-templates.jpg?s=612x612&w=0&k=20&c=axlwbBeRqNP5tWZ6hp_SJX27qWNhrv6E2vRepmgy2fY=);
    padding: 5px;
    justify-items: center;
    width: 100%;
    height: 100%;
    align-items: center;
    
}

.navbar {
    background-color: #3d3842f4;
    color: #9c801a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1;
    gap: 1.5rem;
    font-size: 2rem;
    font-weight: 500;
}

.size-title {
    font-size: 3rem;
    padding-left: 1rem;
}

.navbar a {
    color: inherit;
    text-decoration: none;
    padding: 0;
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .navbar a {
        font-size: 0.6rem;
    }
}

.navbar ul {
    align-items: center;
    padding-right: 12px;
    padding: 12px;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
    font-size: 15px;
}

.navbar li.active {
    background-color: #ccc8b2bc;
}

.navbar li:hover {
    background-color: rgba(204, 200, 178, 0.952);
}

.hello {
    gap: 5rem;
    font-size: 14px;
    align-items:center;
    justify-content: center;
    margin-right: 150px;
}

.custom-table {
    display: block;
    border-collapse: collapse;
    width: 650px;
    direction: rtl; 
    font-family: Arial, sans-serif; 
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    font-weight: 600;
}
  
  .custom-table th,
  .custom-table td {
    border: 1px solid #755757;
    padding: 8px;
  }
  
  .custom-table th {
    background-color: #b1891acf;
  }
  
  .custom-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .custom-table tbody tr:hover {
    background-color: #f5f5f5;
  }


  .success-btn {
    width: 100px;
    font-size: 15px;
    align-Items: center;
    border:'white, solid';
    border-Radius:'1px';
}

.slide {
    font-weight: 600;
}