.pupil-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    font-weight: 500;
  }
  
  .second-cards-container {
    margin: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .second-cards {
    width: 12rem;
    direction: rtl;
    font-size: 12px;
    font-weight: 500;
  }

  .image-card {
    height: 8.4rem;
    width: 12rem;
    direction: rtl;

  } 