.rent-container {
  direction: rtl;
  max-width: 550px;
  margin: 0 auto;
  margin-top: 9px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
  padding-right: 0px;
  position: absolute;
  right: 0;
}
  
  .form-container {
    direction: rtl;
    width: 400px;
    padding: 8px;
    background-color: #8cd0c8d5;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .h2 {
    direction: rtl;
    font-weight: 500;
  }

  .rent-button {
    padding: 15px;
    width: 75px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 11px;
    font-size: 18px;
    cursor: pointer;
    font-weight: 600;
    position: absolute;
    right: 0;  
}
  @media only screen and (max-width: 600px) {
    .rent-container {
        font-size: 0.6rem;
    }}