.container {
  max-width: 350px;
  margin: 0 auto;
  padding: 15px;
  margin-top: 9px;
  border: 1px solid #dddddd52;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  
  .form-container {
    direction: rtl;
    width: 400px;
    padding: 8px;
    background-color: #8cd0c8d5;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .contct-form {
    direction: rtl;
    width: 600px;
    height: 400px;
    padding: 25px;
    background-color: #8cd0c8d5;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  }

  .form-container h2 {
    text-align: center;
    margin-bottom: 1px;
    color: #333;
  }
  
  .form-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-container label {
    margin-bottom: 8px;
    color: #666666;
    font-weight: 600;
  }
  
  .form-container input {
    display: flex;
  align-items: center;
    padding: 2px;
    margin-bottom: 16px;
    border: 1px solid #170505;
    border-radius: 6px;
    font-size: 19px;
    font-weight: 600;
  }
  
  .form-container button {
    padding: 12px;
    background-color: #1a160d;
    color: white;
    border: none;
    border-radius: 11px;
    font-size: 14px;
    cursor: pointer;
    font-weight: 600;
  }
  
  .form-container button:hover {
    background-color: #ffffffec;
    color: #000000;
  }
  
  .error-message {
    font-weight: 600;
    color: red;
    font-size: 14px;
    margin-top: 8px;
  }

  .grade {
    background-color: aliceblue;
  }


.success-msg {
  direction: rtl;
  display: flex;
  justify-content: center;
  height: 100vh;
  font-size: 24px;
  font-weight: bold;
}